@import "fuentes";

/* Formularios */

.form{
    display: flex;
    justify-content: center;
    .formulario{
        width: 75%;
        background: $color-hover;
        padding: 30px;
        margin: 30px 10px; 
        border-radius: 8px;
        border: 4px solid #165199;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        box-shadow: 15px 23px 37px rgb(8, 8, 8);
        .formulario-registro{
            @include formulario;
            width: 100%;
            background-color: #165199;
            padding: 7px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid #000;
            font-family: Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
            color: whitesmoke;
        }
        .centrado-reg{
            @include formulario;
            display: flex;
            flex-direction: column;
        }
        p{
            height: 40px;
            text-align: center;
            font-size: 16px;
            line-height: 40px;
        }
        a{
            color: white;
            text-decoration: none;
            &:hover{
                color: white;
                text-decoration: underline;
            }
        }
        .boton{
            width: 100%;
            background-color: #133959;
            border: 1px #133959;
            border-radius: 3px;
            padding: 12px;
            color:white;
            margin: 16px 0;
            font-size: 16px;
            box-shadow: 10px 10px 37px #02345d;
            &:hover{
                background-color: #174e7a;
            }
        }
        .formulario-inicio{
            width: 100%;
            background-color: #24303c;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid #fff;
            font-family: Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
            color: white;
        }
        .formulario-creacion{
            width: 100%;
            background-color: #24303c;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid #fff;
            font-family: Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
            color: white;
        }
        .formulario-contacto{
            width: 100%;
            background-color: #24303c;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid #1f53c5;
            font-family: Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
            color: white;
        }
        
    }
}