/* Index-Principal */

.principal{
    display: grid;
    max-width: 100%;
    margin-top: 100px;
    grid-template-columns: repeat(10, 1fr);
    .contenido{
        grid-column: 2/5;
    }
    h1{
        font-size: 40px;
        text-decoration: underline;
    }
    h2{
        font-size: 20px;
        padding: 5px 0 20px;
    }
    .crear{
        font-family: 'popins';
        font-size: 16px;
        font-weight: 500;
        border: solid 2px;
        border-radius: 10px;
        margin: 12px;
        padding: 3px;
        max-height: fit-content;
        max-width: fit-content;
        background-color: map-get($map: $colores-botones, $key: 'crear' );
            a{
                text-decoration: none;
                }
            &:hover{
                background-color: map-get($map: $colores-botones, $key: 'hover' );
                transform: scale(1.1);
                box-shadow: $color-hover 10px 10px 37px;
            }
    }
}

