/* Index-Principal */

.principal{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    .contenido{
        grid-column: 2/5;
        grid-row: 2/7;
    }
    h1{
        font-size: 40px;
        text-decoration: underline;
    }
    h2{
        font-size: 20px;
        padding: 5px 0 20px;
    }
    .crear{
        font-family: 'popins';
        font-size: 16px;
        font-weight: 500;
        border: solid 2px;
        margin: 12px;
        border-radius: 10px;
        padding: 3px;
        text-decoration: none;
        background-color: map-get($map: $colores-botones, $key: 'crear' );
    }
}

