.tablas{
    display: grid;
    /* padding-top: 15vh; */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 15px, 1fr;
    align-items: center;
    justify-items: center;
    .tablasTitulo{
        grid-column: 3/7;
        grid-row: 1/2;
    }
    .tablasContenido{
        grid-column: 3/7;
        grid-row: 2/3;
    }
}
