@import "colores";
@import "index";
@import "nosotros";
@import "formularios";
@import "tablas";
@import "terminos";

@font-face {
    font-family: 'popins';
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'form';
    src: url(../assets/fonts/textos/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #1e1e1e;
}
body{
    background-image: url('../assets/img/fondoIndex.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
main{
    min-height: calc(100vh - 60px);
}

/* Body */

.body{
    position: relative;
    min-height: 100vh;
}

/* Barra de navegacion */

.bootstrap{
    display: none;
}

.nav-bar{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    padding: 10px;
    font-size: 12px;
    background-image: $gradiante-nav;
    .logo{
        display: flex;
        justify-self: center;
        align-self: center;
        padding-left: 10px;
        width: 120px;
        grid-column: 1/3;
        grid-row: 1/5;
        
    animation: bounce-bottom 0.9s both;
        }
    .logoZoom{
        animation: logo 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 120px;
        grid-column: 1/3;
        grid-row: 1/5;
        }
    .menu{
        display: flex;
        justify-content: space-around;
        grid-column: 3/10;
        grid-row: 2/4;
        animation: bounce-bottom 0.9s both;
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            text-decoration: none;
            text-transform: uppercase;
            border: solid 1px;
            padding: 5px;
            border-radius: 15px;
            transition: .3s;
            background-color: rgb(255, 255, 255);
            color: $color-hover;
            box-shadow: 5px 5px 37px black;
        }
    }
    .menuUsuario{
        display: flex;
        justify-content: space-around;
        grid-column: 11/13;
        grid-row: 1/4;
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            text-decoration: none;
            text-transform: uppercase;
            border: solid 1px;
            padding: 5px;
            border-radius: 15px;
            transition: .3s;
            background-color: rgb(255, 255, 255);
            color: $color-hover;
            box-shadow: 5px 5px 37px black;
        }
    }
}
.logoNavBootstrap{
    display: none;
}


/* Footer */

.pieDepagina{
    display: grid;
    height: 11vh;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 12px;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  #152c48 0%, #1959a7 97.5% );
    .menuFooter{
        display: flex;
        justify-content: space-around;
        grid-column: 1/6;
        grid-row: 2/3;
        padding-left: 10px;
        text-align: center;
        a{
            color: white;
            text-decoration: none;
        }
    }
    .titulo{
        font-size: 12px;
        grid-column: 7/9;
        grid-row: 1/2;
        
    }
    .derechos{
        font-size: 12px;
        grid-column: 7/9;
        grid-row: 2/3;
    }
    .redes{
        justify-self: center;
        grid-column: 11/13;
        grid-row: 1/2;
        font-size: 12px;
    }
    .redesIconos{
        display:flex;
        justify-content: space-around;
        grid-column: 11/13;
        grid-row: 2/3;
        padding-bottom: 5px;
    }
} 


/* MEDIA QUERIES */

@media screen and (min-width: 541px) and (max-width: 768px) {

    /* Navbar Bootsrap  */

    .bootstrap{
        display: block;
    }
    .navbar{
        display: block;
        background-image: radial-gradient( circle 610px at 5.2% 51.6%,  #152c48 0%, #1959a7 97.5% );
    }
    .nav-item{
        display: flex;
        margin: 5px;
        font-family: 'popins';
        border: solid 1px white;
        border-radius: 50px;
        justify-content: center;
    }
    .offcanvas{
        background-image: radial-gradient( circle 610px at 5.2% 51.6%,  #152c48 0%, #195daf 97.5% );
    }
    .offcanvas-title{
        font-family: 'popins';
        font-size: 20px;
    }
    .nav-bar{
        display: none;
    }
    .logo{
        display: none;
    }
    .logoZoom{
        display: none;
    }
    .logoNavBootstrap{
        display: block;
        width: 140px;
    }
        /* Footer */
    .pieDepagina{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, 1fr);
        justify-content: space-evenly;
        .menuFooter{
            display: none;
        }
        .titulo{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .derechos{
            grid-column: 2/4;
            grid-row: 2/3;
        }
        .redes{
            display: none;
        }
        .redesIconos{
            grid-column: 4/5;
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 540px) {

    /* Navbar Bootstrap */

    .bootstrap{
        display: block;
    }
    .navbar{
        display: block;
        background-image: radial-gradient( circle 610px at 5.2% 51.6%,  #152c48 0%, #1959a7 97.5% );
    }
    .nav-item{
        display: flex;
        margin: 5px;
        font-family: 'popins';
        border: solid 1px white;
        border-radius: 50px;
        justify-content: center;
    }
    .offcanvas{
        background-image: radial-gradient( circle 610px at 5.2% 51.6%,  #152c48 0%, #195daf 97.5% );
    }
    .offcanvas-title{
        font-family: 'popins';
        font-size: 20px;
    }
    .nav-bar{
        display: none;
    }
    .logo{
        display: none;
    }
    .logoZoom{
        display: none;
    }
    .logoNavBootstrap{
        display: block;
        width: 140px;
    }

    /* Footer */
    .pieDepagina{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, 1fr);
        justify-content: space-evenly;
        .menuFooter{
            display: none;
        }
        .titulo{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .derechos{
            grid-column: 2/4;
            grid-row: 2/3;
        }
        .redes{
            display: none;
        }
        .redesIconos{
            grid-column: 4/5;
        }
    }
}


@keyframes bounce-bottom {
    0% {
    transform: translateY(30px);
    animation-timing-function: ease-in;
    opacity: 0;
    }
    24% {
        opacity: 0;
    }
    40% {
        transform: translateY(22px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(10px);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(6px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    93% {
        transform: translateY(4px);
        animation-timing-function: ease-in;
    }
    25%,
    75%,
    87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}
@keyframes logo {
    0% {
        transform: scale(4);
        transform-origin: 0% 0%;
    }
    100%{
        transform: scale(1);
        transform-origin: 0% 0%;
    }
}










